/*font-family: 'Open Sans', sans-serif;*/
body{
    background: #ececec;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000000;
    min-width: 320px;
}
img{
    max-width: 100%;
    height: auto;
}
h3{
    font-size: 24px;
    font-weight:700;

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu-top .navbar-nav{
        float: none!important;
    }
    .menu-top .navbar .navbar-collapse .navbar-right> li{
        margin-left: auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .menu-top .navbar .navbar-collapse .navbar-right> li{
        margin-left: 45px;
        margin-right: auto;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.menu-top .navbar .navbar-collapse .navbar-nav> li > a:hover{
        background: #eee;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

.btn-red{
    background-color: #d51e08;
    color: white;
}

.btn-red:hover{
    background-color: #ec4835;
}

/*====================================HEADER=================================================*/

.menu-top .navbar{
    margin-bottom: 0;
    background: #fff;
    padding: 20px 0;
    text-transform: uppercase;
}
#navbarSupportedContent > ul > li > a{
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background .9s;
}
#navbarSupportedContent > ul{
    margin-left: 45px;
    margin-right: 45px;
}
#navbarSupportedContent > ul > li > a:hover{
    text-decoration: underline;
    color: #ec4835;
    opacity: 0.7;
    transition: background .3s;
}
#navbarSupportedContent > ul > li > a.btn-red{
    color: #fff;
    border-radius: 4px;
    opacity: 0.7;
    padding: 5px 20px;
}

#navbarSupportedContent > ul > li > a.btn-red:hover{
    background-color: #ec4835;
    text-decoration: none;
    opacity: unset;
}
#navbarSupportedContent > ul > li > a>.cart{
    margin-right: 10px;
    font-size: 17px;
}
.flag{
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.menu-top .navbar-nav .navbar-right> ul> li> a{
    margin-left: 45px;
}